body {
    font-family: Arial, sans-serif;
    direction: rtl;
}

.container {
    max-width: 100%; /* שינוי מ-400px ל-100% */
    margin: auto;
    padding: 20px;
    box-sizing: border-box; /* להוסיף כדי לוודא שהתוכן לא יחרוג מגבולות האלמנט */
}

label {
    display: block;
    margin-top: 10px;
}

input, select {
    width: 100%; /* השאר כמו שזה כדי להבטיח שהאלמנטים יתפרסו לרוחב כל המכשיר */
    padding: 5px;
    margin-bottom: 10px;
}

.buttons {
    text-align: center;
}

button {
    margin: 5px;
    padding: 10px;
    width: calc(100% - 10px); /* הוספת רוחב עם חישוב כדי להשאיר מקום למרווח */
}

/* מדיה קוורי למכשירים קטנים */
@media only screen and (max-width: 600px) {
    .container {
        padding: 10px;
    }
    
    button {
        width: 100%; /* התפרסות הכפתורים על כל הרוחב */
        margin: 5px 0; /* כפתורים במרווחים אנכיים */
    }
}
